<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>

  <p> <%= resposta %></p>

  <a href="/index.html">Voltar</a>
  
</body>
</html>
